html, body, #root {
  height: 100%;
}
.background {
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.title {
  color: #ffffff;
  font-family: verdana;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  opacity: .7;
}
 .input1 {
    display: inline-block;
  margin: 0 10px;
  border-radius: 3px;
  position: relative;
  padding: 6px 32px 6px 10px;
  font-family: verdana;
  background: white;
  border: 2px solid white;
  outline:0;
}
 .input2 {
    display: inline-block;
  margin: 0 10px;
   border: 2px solid white;
  border-radius: 3px;
  position: relative;
  padding: 6px 32px 6px 10px;
  font-family: verdana;
  background: white;
  outline:0;
}
input:hover{
  border: 2px solid grey;
}
button{
  display: inline-block;
  margin: 0 10px;
  border-style: solid;
  border-radius:3px;
  position: relative;
  padding: 6px 10px 6px 10px;
  font-family: verdana;
  background: white;
  cursor: pointer;
  outline:0;
}
button:hover{
  background: inherit;
  box-shadow: 0 5px 20px grey;
  color: white;
  transform: translateY(-1px);
  outline:0;
} 
button:active{
  background: grey;
  outline:0;
}


